<h1><%= @billboard.name %> - <%= @artist.name %></h1>
<%= link_to 'Edit artist', edit_billboard_artist_path(@billboard, @artist) %>
<%= link_to 'Delete artist', billboard_artist_path(@billboard, @artist), method: :delete %>
<%= link_to 'Back To Artists', billboard_artists_path(@billboard)