<h1><%= @billboard.name %></h1>
<hr />
<p> What would you like to do?</p>
<%= link_to "View Artist" billboard_artists_path(@billboard) %>
<br />
<%= link_to "Edit", edit_billboard_artist_path(@billboard) %>
<br />
<%= link_to "Delete", billboard_path(@billboard) methode: :delete %>
<br />
<br />
<br />
<button><%= link_to "View Billboards", billboard_path %></button>
